#buttonimgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#buttonimgs > img {
	width: 88px;
	height: 31px;
}

#blinkimgs {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

#blinkimgs > img {
	width: 150px;
	height: 20px;
}