:root {
  --bg-color: #160F29;
  --text-color: #eae5f9;
  --box-collor: #1D3D4E;
  --border: #2D7D7F;
  --spacing: 1rem;
  --padding: 1.5rem;
  --border-width: 0.3em;
}

body,
html,
ul,
ol,
p,
#container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#container {
  width: auto;
  flex: 1;
  padding-inline: 20vw;
}

header {
  background-color: var(--box-collor);
  margin-bottom: var(--spacing);
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

#mainspace {
  width: 90%;
}

.mainbox {
  background-color: #1D3D4E;
  padding: var(--padding);
}

.contain {
  border-color: var(--border);
  border-style: solid;
  border-radius: 10px;
  border-width: var(--border-width);
}

.titlebox

@media only screen and (max-width: 900px) {
  #container {
    padding-inline: 5vw;
  }

  main {
    flex-wrap: wrap;
  }

  #stacafe {
    order: 3;
  }
}