@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
  --bg-color: #160F29;
  --bg-color2: #362e4a;
  --text-color: #f8f7fd;
  --box-color: #1D3D4E;
  --tbox-color: repeating-linear-gradient(45deg, #246A73 0, #246A73 1px, #215461 0, #215461 50%);
  --border: #2D7D7F;
  --spacing: 0.7rem;
  --titlepad: 1rem;
  --border-width: 0.4em;
  --listpad: 0.3rem;
  --text-highlight: #E8CFB5;
  --text-highlight2: #215461;
}

* {cursor: url(https://cur.cursors-4u.net/cursors/cur-4/cur361.cur), auto !important;}

body,
html,
ul,
ol,
p,
#container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
}

textarea {
  resize: none;
}

body {
  display: flex;
  background-image: radial-gradient(var(--bg-color2) 1.5px, transparent 2.5px);
  background-size: 32px 32px;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--box-color);
  margin-bottom: var(--spacing);
}

main {
  display: flex;
  flex-direction: row;
}

nav {
  margin-bottom: var(--spacing);
}

nav ul {
  padding-left: 0.8rem;
}

nav ul li {
  list-style-image: url("/imgs/liststyle.gif");
  font-weight: bold;
  padding: var(--listpad);
}

a {
  color: #95B7A6;
}

p {
  padding: 5px;
}

.mainbox {
  background-color: #1D3D4E;
  padding: 1.5rem;
}

.contain {
  border-color: var(--border);
  border-style: solid;
  border-radius: 10px;
  border-width: var(--border-width);
}

.titlebox {
  border-bottom: var(--border-width) dashed var(--border);
  padding: var(--titlepad);
  background-size: 10px 10px;
  background-image: var(--tbox-color);
  font-size: 20px;
  font-weight: bold;
}

#container {
  width: auto;
  flex: 1;
  padding-inline: 20vw;
}

#mainspace {
  width: 80%;
  margin-left: var(--spacing);
}

#statuscafe-content {
  border-color: var(--border);
  border-style: dashed;
  margin: 0.7rem;
  padding: 0.7rem;
}

::selection {
  color: var(--text-highlight2);
  background: var(--text-highlight);
}

@media only screen and (max-width: 875px) {
  aside {
    width: 100%;
  }

  main {
    flex-wrap: wrap;
  }

  nav ul {
    display: flex;
  }

  #container {
    padding-inline: 5vw;
  }

  #mainspace {
    width: 100%;
    margin-top: var(--spacing);
    margin-left: 0;
  }

  #stacafe {
    order: 3;
  }
}

