:root {
  --bg-color: #160F29;
  --text-color: #eae5f9;
  --box-collor: #1D3D4E;
  --ex-spacing: 30px;
  --padding: 1rem;
}

body,
html,
ul,
ol,
p,
#container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
}

#container {
  width: auto;
  flex: 1;
  padding-inline: 30vw;
}

header {
  background-color: var(--box-collor);
  padding: 1rem;
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.mainbox {
  background-color: #1D3D4E;
  padding: var(--padding);
}

@media only screen and (max-width: 900px) {
  #container {
    padding-inline: 5vw;
  }

  main {
    flex-wrap: wrap;
  }

  #stacafe {
    order: 3;
  }
}