:root {
  --bg-color: #160F29;
  --text-color: #f8f7fd;
  --box-color: #1D3D4E;
  --tbox-color: repeating-linear-gradient(45deg, #215461 0, #215461 1px, #246A73 0, #246A73 50%);
  --border: #2D7D7F;
  --spacing: 1rem;
  --padding: 1.5rem;
  --titlepad: 1rem;
  --border-width: 0.3em;
}

body,
html,
ul,
ol,
p,
#container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
}

body {
  display: flex;
  background-color: var(--bg-color);
  color: var(--text-color);
}

header {
  background-color: var(--box-color);
  margin-bottom: var(--spacing);
}

main {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

nav {
  margin-bottom: var(--spacing);
}

#container {
  width: auto;
  flex: 1;
  padding-inline: 20vw;
}

#mainspace {
  width: 80%;
}

.mainbox {
  background-color: #1D3D4E;
  padding: var(--padding);
}

.contain {
  border-color: var(--border);
  border-style: solid;
  border-radius: 10px;
  border-width: var(--border-width);
}

.titlebox {
  border-bottom: var(--border-width) dashed var(--border);
  padding: var(--titlepad);
  background-color: var(--box-color);
  opacity: 0.8;
  background-size: 10px 10px;
  background-image: var(--tbox-color)
}

@media only screen and (max-width: 900px) {
  #container {
    padding-inline: 5vw;
  }

  main {
    flex-wrap: wrap;
  }

  #stacafe {
    order: 3;
  }
}

