@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

:root {
  --bg-color: #160F29;
  --bg-color2: #362e4a;
  --text-color: #f8f7fd;
  --box-color: #1D3D4E;
  --tbox-color: repeating-linear-gradient(45deg, #246A73 0, #246A73 1px, #215461 0, #215461 50%);
  --border: #2D7D7F;
  --spacing: 0.7rem;
  --border-width: 0.4em;
  --listpad: 0.3rem;
  --text-highlight: #E8CFB5;
  --text-highlight2: #215461;
  --link: #95B7A6;
  --link-hover: #F3DFC1;
}

body,
html,
ul,
ol,
p,
#container {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  font-family: "Inconsolata", monospace;
  font-size: 16px;
}

textarea {
  resize: none;
}

body {
  display: flex;
  background-image: radial-gradient(var(--bg-color2) 1.5px, transparent 2.5px);
  background-size: 32px 32px;
  background-color: var(--bg-color);
  color: var(--text-color);
  background-attachment: fixed;
  animation: bg-anim 50s linear infinite;
}

header {
  background-color: var(--box-color);
  margin-bottom: var(--spacing);
}

main {
  display: flex;
  flex-direction: row;
}

a {
  color: var(--link);
  position: relative;
  transition: color ease 0.4s, font-size ease 0.4s, opacity ease 0.5s;
  z-index: 1;
}

a, li > a {
  cursor: pointer;
  text-decoration: none;
}

p {
  padding: 5px;
}

aside {
  max-width: 30%;
}

aside > .contain {
  margin-bottom: var(--spacing);
}

section {
  margin-bottom: var(--spacing);
}

.mainbox {
  padding: 1.5rem;
}

.contain {
  border-color: var(--border);
  border-style: solid;
  border-radius: 10px;
  border-width: var(--border-width);
  background-color: var(--box-color);
}

.titlebox {
  border-bottom: var(--border-width) dashed var(--border);
  padding: 1rem;
  background-size: 10px 10px;
  background-image: var(--tbox-color);
  font-size: 20px;
  font-weight: bold;
}


#navl {
  padding-left: 0.8rem;
}

#navl li {
  list-style-type: none;
  list-style-image: url("/assets/liststyle.gif");
  font-weight: bold;
  padding: var(--listpad);
}

#container {
  width: auto;
  flex: 1;
  padding-inline: 20vw;
}

#mainspace {
  width: 80%;
  margin-left: var(--spacing);
}

#statuscafe-content {
  border-color: var(--border);
  border-style: dashed;
  margin: 0.7rem;
  padding: 0.7rem;
}

#navbut {
  display: none;
}

::selection {
  color: var(--text-highlight2);
  background: var(--text-highlight);
}

#mainspace a::before{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  background-color: #F3DFC1;
  transform: scaleY(0);
  transition: transform ease 0.15s;
  transform-origin: bottom;
  z-index: -1;
}

#mainspace a:hover{
  color: var(--bg-color);
}

#mainspace a:hover::before{
  transform: scaleY(1);
}

aside a:hover {
  color: var(--link-hover);
  font-size: 115%;
}

#navl:hover .navi{
  opacity: 0.5;
}

#navl:hover .navi:hover{
  opacity: 1;
}

@media only screen and (max-width: 875px) {
  aside {
    max-width: 100%;
  }

  main {
    flex-wrap: wrap;
  }

  nav {
    position: fixed;
    top: 0px; left: -240px;
    height: 100vh; width: 230px;
    z-index: 100000;
    transition: left 0.75s ease-in-out;
  }

  nav.contain {
    border-radius: 0px;
    border-width: 0px var(--border-width) 0px 0px;
  }

  nav .titlebox{
    font-size: 28px;
    padding: 28px;
  }

  #navl li {
    font-size: 22px;
    padding-top: 1.2rem;
    list-style-image: none;
    flex: content;
  }

  #navbut {
    display: unset;
    position: fixed;
    cursor: pointer;
    left: 30px; top: 20px;
    background-color: #224f61;
    border-radius: 10px;
    padding: 10px;
    border-style: solid;
    border-color: var(--border);
    border-width: var(--border-width);
    filter: drop-shadow(0px 0px 15px #120a2a);
    transition: left 0.75s ease-in-out
  }

  #navbut input{
    display: none;
  }


  #container {
    padding-inline: 5vw;
  }

  #mainspace {
    width: 100%;
    margin-top: var(--spacing);
    margin-left: 0;
  }

  #stacafe {
    order: 1;
  }

  nav:has(input:checked) {
    left: 0px;
  }

  nav:has(input:checked) > #navbut {
    left: 266px;
  }
}

@keyframes bg-anim {
  from {
      background-position: 0% 0%;
  } to {
      background-position: 100% 100%;
  }
}
